.App {
  font-family: sans-serif;
  text-align: center;
}
.Ball {
  background-color: tomato;
  border-radius: 50%;
  color: white;
  display: inline-block;
  width: 3em;
  height: 2.25em;
  padding-top: 0.75em;
  text-align: center;
  margin-right: 0.5em;
  font-weight: bolder;
  font-size: 1.5em;
}
